[submodule "boost"]
	path = third_party/boost
	url = git@github.com:boostorg/boost.git
	branch = master

[submodule "liburing"]
	path = third_party/liburing
	url = git://git.kernel.dk/liburing
	branch = master
